#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#general-container {
  margin: 20PX;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pad-container {
  width: min-content;
  height: min-content;
  border: 2px solid black;
}

#btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#btn-container button {
  padding: 5px 15px;
  font-size: 20px;
}